annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
assemblyai==0.28.1
certifi==2024.6.2
cfgv==3.4.0
distlib==0.3.8
distro==1.9.0
dj-database-url==2.2.0
Django==5.0.6
filelock==3.15.4
gunicorn==22.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
identify==2.5.36
idna==3.7
lxml==5.2.2
nodeenv==1.9.1
openai==1.35.7
packaging==24.1
platformdirs==4.2.2
pre-commit==3.7.1
psycopg2-binary==2.9.9
pydantic==2.8.0
pydantic_core==2.20.0
python-docx==1.1.2
python-dotenv==1.0.1
pytube==15.0.0
PyYAML==6.0.1
shortuuid==1.0.13
sniffio==1.3.1
sqlparse==0.5.0
tqdm==4.66.4
typing_extensions==4.12.2
virtualenv==20.26.3
websockets==12.0
